/* Removes the 'X' in Chrome, Safari, and newer Edge browsers */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

/* Removes the 'X' in Internet Explorer/old Edge (just in case) */
input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

main {
    scroll-behavior: smooth;
    /* For mobile touch devices */
    -webkit-overflow-scrolling: touch;
}
